body{
    background-color:rgb(245, 204, 157);
}

img {
    width: 20px;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

input {
    width: 190px;
    margin-bottom: 10px;
}

select{
    width: 198px;
    margin-bottom: 10px;
}

button{
    color: white;
    height: 30px;
    border-radius: 5px
}

span{
   font-size: large; 
   font-weight: 700;
}

.form {
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 200px;
}

.menu {
    justify-content: left;
    margin-bottom: 20px;
}
.delete{
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

.sort{
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

#addPizza {
    background: #0d6efd;
    border-color: #0d6efd;
}

#deletePizza {
    background: #bb2d3b;
    border-color:#bb2d3b;
}
